<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1132">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Let's Get Started</span>
            <h2 class="cs-title">Ready to start transforming your space? We are!</h2>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
    <picture class="cs-background">
       <!--Mobile Image-->
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 1200, height: 1028 }) | avif %}" type="image/avif">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 1200, height: 1028 }) | webp %}" type="image/webp">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 1200, height: 1028 }) | jpeg %}" type="image/jpeg">
       <!--Desktop Image-->
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 2000, height: 1028 }) | avif %}" type="image/avif">
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 2000, height: 1028 }) | webp %}" type="image/webp">
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 2000, height: 1028 }) | jpeg %}" type="image/jpeg">
       <img src="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 2000, height: 1028 }) | jpeg %}" alt="Happy couple admiring their newly painted house" width="1200" height="1028" loading="lazy" decoding="async" aria-hidden="true">
    </picture>
    <!--White splash graphic-->
    <picture class="cs-graphic cs-light">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/splash-m.png">
        <!--Tablet and above Image-->
        <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/splash-t.png">
        <!--Desktop and above Image-->
        <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/splash.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/splash.png" alt="graphic" width="1920" height="108" aria-hidden="true">
    </picture>
</section>
                                