<!--
    Instructions for changing the white splash image color for dark mode or change the color of the defauly one from white to whatever else you need
-->

<!--
    Step 1: Open photoshop, and open the splash image

    Step 2: click on the rectangle tool near the bottom of the tools list ( it should be under the pointer arrow and above the hand). At the bottom of the tool bar should be two squares for choosing the color of the rectangle, cick the top left one and select the color you need.

    Step 3: Starting from the outside of the image, drag a rectangle that covers the whole image. You'll notice in the layer panels that a new rectangle layer was created.  Right click on the layer and select "Create Clipping Mask" and the rectanlge will not take the shape of the image layer underneath it. Hit enter to complete the action.

    Step 4: hit CTRL + Shift + Alt + s to save for web, and select PNG and save to your folder. You just converted this image to a different color.  Do this for the dark mode version so it matches the color scheme of the background of the section below it to create the illusion that the paint splash bleeds into that section.

    The current dark mode image color is #082032, this is for the --dark variable in our CodeStitch dark mode style variables. If your dark mode color pallate is different, go thorugh these previous steps to change your splash image to that color you need it to be
-->

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1132">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Let's get started</span>
            <h2 class="cs-title">Ready to start transforming your space? We are!</h2>
            <a href="" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
    <picture class="cs-background">
       <!--Mobile Image-->
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 1200, height: 1028 }) | avif %}" type="image/avif">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 1200, height: 1028 }) | webp %}" type="image/webp">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 1200, height: 1028 }) | jpeg %}" type="image/jpeg">
       <!--Desktop Image-->
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 2000, height: 1028 }) | avif %}" type="image/avif">
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 2000, height: 1028 }) | webp %}" type="image/webp">
       <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 2000, height: 1028 }) | jpeg %}" type="image/jpeg">
       <img src="{% getUrl "/assets/images/happy-couple-exterior.png" | resize({ width: 2000, height: 1028 }) | jpeg %}" alt="Happy couple admiring their newly painted house" width="1200" height="1028" loading="lazy" decoding="async" aria-hidden="true">
    </picture>
    <!--White splash graphic-->
    <picture class="cs-graphic cs-light">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/splash-m.png">
        <!--Tablet and above Image-->
        <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/splash-t.png">
        <!--Desktop and above Image-->
        <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/splash.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/splash.png" alt="graphic" width="1920" height="108" aria-hidden="true">
    </picture>
</section>
                                