<section id="why-choose-506">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Values</span>
                <h2 class="cs-title">Why Choose JR's Painting & Renovations</h2>
            </div>
            <p class="cs-text">
                As a proud member of the Pembroke community, we take pride in the work we do. We provide the kind of personalized care and attention that only a dedicated local business can offer.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/avatar.svg" loading="lazy" decoding="async" alt="icon" width="70" height="70">
                <h3 class="cs-h3">Personalized Service</h3>
                <p class="cs-item-text">
                    Experience home improvements tailored to your vision, with dedicated one-on-one attention from start to finish, ensuring your project receives the care and consideration it deserves.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/happy-dollar.svg" loading="lazy" decoding="async" alt="icon" width="70" height="70">
                <h3 class="cs-h3">Transparent Pricing</h3>
                <p class="cs-item-text">
                    Get detailed, upfront quotes with no hidden fees or surprises, allowing you to make informed decisions about your home improvement investment.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/microscope.svg" loading="lazy" decoding="async" alt="icon" width="70" height="70">
                <h3 class="cs-h3">Attention to Detail</h3>
                <p class="cs-item-text">
                    From thorough preparation to meticulous finishing touches, our commitment to excellence shows in every corner, ensuring lasting quality that stands the test of time.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/clean.svg" loading="lazy" decoding="async" alt="icon" width="70" height="70">
                <h3 class="cs-h3">Clean and respectful</h3>
                <p class="cs-item-text">
                    We respect our customer's home, always keeping the workspace clean and ensuring we treat the space with the respect that it deserves.
                </p>
            </li>
        </ul>
    </div>
</section>       