---
title: 'Painting'
description: 'Professional interior and exterior painting in Pembroke. Flawless finishes, clean worksites, and transparent pricing from local painting experts.'
permalink: 'painting/'
bannerImage: '/assets/images/banner-painting.jpg'
eleventyNavigation:
    key: Painting
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/stylesheets/painting.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-601">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room3-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room3.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room3.jpg" alt="room" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">House Painting Contractors For Oak Harbor </h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
            <p class="cs-text">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <a href="" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>
                                
    {% include 'components/cta.html' %}

{% endblock %}