/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-601,
  #RTsbsr-601,
  #RTsbst-601 {
    position: relative;
  }
  #RTsbs-601 .cs-container,
  #RTsbsr-601 .cs-container,
  #RTsbst-601 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #RTsbs-601 .cs-content,
  #RTsbsr-601 .cs-content,
  #RTsbst-601 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: var(--sectionPadding);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RTsbs-601 .cs-text,
  #RTsbsr-601 .cs-text,
  #RTsbst-601 .cs-text {
    margin-bottom: 1rem;
  }
  #RTsbs-601 .cs-text:last-of-type,
  #RTsbsr-601 .cs-text:last-of-type,
  #RTsbst-601 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RTsbs-601 .cs-button-solid,
  #RTsbsr-601 .cs-button-solid,
  #RTsbst-601 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RTsbs-601 .cs-button-solid:before,
  #RTsbsr-601 .cs-button-solid:before,
  #RTsbst-601 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #RTsbs-601 .cs-button-solid:hover:before,
  #RTsbsr-601 .cs-button-solid:hover:before,
  #RTsbst-601 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RTsbs-601 .cs-background,
  #RTsbsr-601 .cs-background,
  #RTsbst-601 .cs-background {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    z-index: 1;
  }
  #RTsbs-601 .cs-background img,
  #RTsbsr-601 .cs-background img,
  #RTsbst-601 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #RTsbs-601 .image-credit,
  #RTsbsr-601 .image-credit,
  #RTsbst-601 .image-credit {
    position: absolute;
    bottom: 0;
    font-size: 0.75em;
    margin-bottom: 1rem;
  }
  #RTsbs-601 .image-credit a,
  #RTsbsr-601 .image-credit a,
  #RTsbst-601 .image-credit a {
    font-size: 0.75em;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-601,
  #RTsbsr-601,
  #RTsbst-601 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
  }
  #RTsbs-601 .cs-container,
  #RTsbsr-601 .cs-container,
  #RTsbst-601 .cs-container {
    flex-direction: row;
    justify-content: flex-end;
  }
  #RTsbs-601 .cs-background,
  #RTsbsr-601 .cs-background,
  #RTsbst-601 .cs-background {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
  }
  #RTsbs-601 .cs-content,
  #RTsbsr-601 .cs-content,
  #RTsbst-601 .cs-content {
    width: 45%;
    padding: 0;
  }
  #RTsbs-601:first-of-type,
  #RTsbsr-601:first-of-type,
  #RTsbst-601:first-of-type {
    margin-top: 5rem;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbsr-601 {
    background-color: var(--primary);
  }
  #RTsbsr-601 .cs-topper,
  #RTsbsr-601 .cs-title,
  #RTsbsr-601 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #RTsbsr-601 .cs-text {
    opacity: 0.8;
  }
  #RTsbsr-601 .cs-button-solid {
    background-color: #fff;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #RTsbsr-601 .cs-button-solid:hover {
    color: #fff;
  }
}
/* Mobile - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbsr-601 .cs-container {
    justify-content: flex-start;
  }
  #RTsbsr-601 .cs-background {
    left: 50%;
    right: auto;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-97 {
    padding: var(--sectionPadding);
  }
  #sbs-97 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px, changed clamp at tablet */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-97 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-97 .cs-title {
    max-width: 17ch;
  }
  #sbs-97 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-97 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-97 .cs-ul {
    margin: 0 0 2rem 0;
    /* 16px - 20px */
    padding-left: clamp(1rem, 2vw, 1.25rem);
  }
  #sbs-97 .cs-li {
    list-style: none;
    /* 14px - 18px */
    font-size: clamp(0.875rem, 1.3vw, 1.125rem);
    line-height: 1.5em;
    /* 8px - 12px */
    margin-bottom: clamp(0.5rem, 1vw, 0.75rem);
    color: var(--bodyTextColor);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #sbs-97 .cs-li:last-of-type {
    margin-bottom: 0;
  }
  #sbs-97 .cs-number {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    /* 24px - 28px */
    width: clamp(1.5rem, 2.9vw, 1.75rem);
    height: clamp(1.5rem, 2.9vw, 1.75rem);
    margin-right: 0.75rem;
    border-radius: 50%;
    background: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* we set this element to align to the top of the li, so if there's 
    multiple lines it will stay at the top instead of the center of the text */
    align-self: flex-start;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbs-97 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-97 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-97 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-97 .cs-picture {
    width: 100%;
    margin: 0;
    position: relative;
    display: block;
    /* width divided by height */
    aspect-ratio: 328/420;
  }
  #sbs-97 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-97 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* 60px - 108px */
    gap: clamp(3.75rem, 7.8vw, 6.75rem);
  }
  #sbs-97 .cs-picture {
    /* 284px - 522px */
    width: clamp(17.75rem, 39.3vw, 27.625rem);
    /* 492px - 740px */
    height: auto;
    /* prevents flexbox from squishing it */
    flex: none;
    order: 2;
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-209 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #stats-209 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-209 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #stats-209 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #stats-209 .cs-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #stats-209 .cs-card-group {
    width: 100%;
    /* 500px - 887px */
    max-width: clamp(31.25em, 70vw, 55.4375em);
    margin: 0;
    /* prevents padding from adding to the width of the container */
    box-sizing: border-box;
    padding: 0;
    box-shadow: 0 1.25em 2.5em 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.75em;
    row-gap: 1.75em;
  }
  #stats-209 .cs-item {
    text-align: center;
    list-style: none;
    width: 38%;
  }
  #stats-209 .cs-topper {
    color: var(--yellow);
  }
  #stats-209 .cs-number {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 4.7vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    /* 4px - 8px */
    margin-bottom: clamp(0.25rem, 0.78vw, 0.5rem);
    color: var(--yellow);
    display: block;
  }
  #stats-209 .cs-header {
    /* 16px - 25px */
    font-size: clamp(1rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    color: var(--bodyTextColorWhite);
  }
  #stats-209 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #stats-209 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #stats-209 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 720px */
@media only screen and (min-width: 45rem) {
  #stats-209 .cs-card-group {
    justify-content: space-between;
  }
  #stats-209 .cs-item {
    /* reset width */
    width: 20vw;
    max-width: 16rem;
  }
}
/* Big Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
  #stats-209 .cs-background {
    background: url("https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #stats-209 .cs-background img {
    display: none;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-45 {
    padding: var(--sectionPadding);
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: clip;
    scroll-margin-top: 6rem;
  }
  #gallery-45 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-45 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-45 .cs-image-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #gallery-45 .cs-item {
    list-style: none;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    margin: 0;
    position: relative;
    display: block;
  }
  #gallery-45 .cs-item:hover .cs-hover-box {
    opacity: 1;
  }
  #gallery-45 .cs-item:hover .cs-icon {
    /* return to original position */
    transform: rotateY(0);
  }
  #gallery-45 .cs-item:hover .cs-h3 {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-45 .cs-item:hover .cs-hover-box-text {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-45 .cs-picture {
    margin: auto;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  #gallery-45 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery-45 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #gallery-45 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #gallery-45 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
  #gallery-45 .cs-image-group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }
  #gallery-45 .cs-item {
    grid-column: span 6;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-45 .cs-item {
    grid-column: span 3;
  }
}

/*# sourceMappingURL=about.css.map */
