/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-578 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #sbs-578 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    padding: var(--sectionPadding);
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-578 .cs-content .highlight {
    color: var(--primary);
  }
  #sbs-578 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-578 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-578 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-578 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-578 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-578 .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    height: 18.75rem;
    order: 1;
  }
  #sbs-578 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-578 {
    padding: var(--sectionPadding);
  }
  #sbs-578 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
    /* 60px - 128px */
    gap: clamp(3.75rem, 10vw, 8rem);
  }
  #sbs-578 .cs-content {
    width: 53%;
    /* reset the padding, add the section padding back to the section container */
    padding: 0;
  }
  #sbs-578 .cs-picture {
    width: 47vw;
    max-width: 30.875rem;
    /* 518px - 700px */
    height: clamp(32.375rem, 63vw, 43.75rem);
    /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
    margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
    position: relative;
  }
  #sbs-578 .cs-picture:before {
    /* yellow box */
    content: "";
    width: 50%;
    height: 60%;
    background: var(--secondary);
    opacity: 1;
    display: block;
    position: absolute;
    /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
    bottom: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
    left: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-601,
  #RTsbsr-601,
  #RTsbst-601 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #RTsbs-601 .cs-container,
  #RTsbsr-601 .cs-container,
  #RTsbst-601 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #RTsbs-601 .cs-content,
  #RTsbsr-601 .cs-content,
  #RTsbst-601 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: var(--sectionPadding);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RTsbs-601 .cs-text,
  #RTsbsr-601 .cs-text,
  #RTsbst-601 .cs-text {
    margin-bottom: 1rem;
  }
  #RTsbs-601 .cs-text:last-of-type,
  #RTsbsr-601 .cs-text:last-of-type,
  #RTsbst-601 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RTsbs-601 .cs-button-solid,
  #RTsbsr-601 .cs-button-solid,
  #RTsbst-601 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RTsbs-601 .cs-button-solid:before,
  #RTsbsr-601 .cs-button-solid:before,
  #RTsbst-601 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #RTsbs-601 .cs-button-solid:hover:before,
  #RTsbsr-601 .cs-button-solid:hover:before,
  #RTsbst-601 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RTsbs-601 .cs-background,
  #RTsbsr-601 .cs-background,
  #RTsbst-601 .cs-background {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    z-index: 1;
    order: 1;
  }
  #RTsbs-601 .cs-background img,
  #RTsbsr-601 .cs-background img,
  #RTsbst-601 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #RTsbs-601 .image-credit,
  #RTsbsr-601 .image-credit,
  #RTsbst-601 .image-credit {
    position: absolute;
    bottom: 0;
    font-size: 0.75em;
    margin-bottom: 1rem;
  }
  #RTsbs-601 .image-credit a,
  #RTsbsr-601 .image-credit a,
  #RTsbst-601 .image-credit a {
    font-size: 0.75em;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-601,
  #RTsbsr-601,
  #RTsbst-601 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
  }
  #RTsbs-601 .cs-container,
  #RTsbsr-601 .cs-container,
  #RTsbst-601 .cs-container {
    flex-direction: row;
    justify-content: flex-end;
  }
  #RTsbs-601 .cs-background,
  #RTsbsr-601 .cs-background,
  #RTsbst-601 .cs-background {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  #RTsbs-601 .cs-content,
  #RTsbsr-601 .cs-content,
  #RTsbst-601 .cs-content {
    width: 45%;
    padding: 0;
  }
  #RTsbs-601:first-of-type,
  #RTsbsr-601:first-of-type,
  #RTsbst-601:first-of-type {
    margin-top: 5rem;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbsr-601 {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
  }
  #RTsbsr-601 .cs-topper,
  #RTsbsr-601 .cs-title,
  #RTsbsr-601 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #RTsbsr-601 .cs-text {
    opacity: 0.8;
  }
  #RTsbsr-601 .cs-button-solid {
    background-color: #fff;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #RTsbsr-601 .cs-button-solid:hover {
    color: #fff;
  }
}
/* Mobile - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbsr-601 .cs-container {
    justify-content: flex-end;
  }
  #RTsbsr-601 .cs-background {
    right: 50%;
    order: 0;
  }
}
@media only screen and (min-width: 48rem) {
  #RTsbst-601 .cs-container {
    justify-content: flex-start;
  }
  #RTsbst-601 .cs-background {
    right: 0;
    order: 0;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-97 {
    padding: var(--sectionPadding);
  }
  #sbs-97 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px, changed clamp at tablet */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-97 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-97 .cs-title {
    max-width: 17ch;
  }
  #sbs-97 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-97 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-97 .cs-ul {
    margin: 0 0 2rem 0;
    /* 16px - 20px */
    padding-left: clamp(1rem, 2vw, 1.25rem);
  }
  #sbs-97 .cs-li {
    list-style: none;
    /* 14px - 18px */
    font-size: clamp(0.875rem, 1.3vw, 1.125rem);
    line-height: 1.5em;
    /* 8px - 12px */
    margin-bottom: clamp(0.5rem, 1vw, 0.75rem);
    color: var(--bodyTextColor);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #sbs-97 .cs-li:last-of-type {
    margin-bottom: 0;
  }
  #sbs-97 .cs-number {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    /* 24px - 28px */
    width: clamp(1.5rem, 2.9vw, 1.75rem);
    height: clamp(1.5rem, 2.9vw, 1.75rem);
    margin-right: 0.75rem;
    border-radius: 50%;
    background: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* we set this element to align to the top of the li, so if there's 
    multiple lines it will stay at the top instead of the center of the text */
    align-self: flex-start;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbs-97 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-97 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-97 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-97 .cs-picture {
    width: 100%;
    margin: 0;
    position: relative;
    display: block;
    /* width divided by height */
    aspect-ratio: 328/420;
  }
  #sbs-97 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-97 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* 60px - 108px */
    gap: clamp(3.75rem, 7.8vw, 6.75rem);
  }
  #sbs-97 .cs-picture {
    /* 284px - 522px */
    width: clamp(17.75rem, 39.3vw, 32.625rem);
    /* 492px - 740px */
    height: clamp(30.75rem, 60.9vw, 46.25rem);
    /* prevents flexbox from squishing it */
    flex: none;
    order: 2;
  }
}
#why-choose-506 {
  background-color: #f7f7f7;
}

/*# sourceMappingURL=painting.css.map */
