---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css"/>
<link rel="stylesheet" href="/assets/css/critical.css"
media="print" onload="this.media='all'; this.onload=null;">
<noscript>
    <link rel="stylesheet" href="/assets/css/local.css">
</noscript>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.province %},
                        "addressRegion": "{{ client.address.province }}"
                    {% endif %}
                    {% if client.address.postalCode %},
                        "postalCode": "{{ client.address.postalCode }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-669">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Paint Your House Like A Dream Home</h1>
            <p class="cs-text">
                If you use real content in the design process, anytime you reach a review point you’ll end up reviewing and negotiating the content.
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid">Make An Appointment</a>
                <a href="" class="cs-button-transparent">See Our Work</a>
            </div>
            <ul class="cs-stats-group">
                <li class="cs-item">
                    <span class="cs-desc">Rating</span>
                    <span class="cs-number">5/5</span>
                </li>
                <li class="cs-item">
                    <span class="cs-desc">Satisfaction</span>
                    <span class="cs-number">100%</span>
                </li>
                <li class="cs-item">
                    <span class="cs-desc">Projects</span>
                    <span class="cs-number">100's</span>
                </li>
            </ul>
        </div>
    </div>
    <!--Hero Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/room4.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/room4.jpg">
        <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/room4.jpg" alt="room" width="862" height="850">
        </picture>
</section>


    {% include 'components/cta.html' %}
{% endblock %}