/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-578 {
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            padding: var(--sectionPadding);
            padding-bottom: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;

            .highlight {
                color: var(--primary);

            }
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            height: calc(300 / 16 * 1rem);
            order: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-578 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
            /* 60px - 128px */
            gap: clamp(3.75rem, 10vw, 8rem);
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            width: 47vw;
            max-width: calc(494 / 16 * 1rem);
            /* 518px - 700px */
            height: clamp(32.375rem, 63vw, 43.75rem);
            /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
            margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
            position: relative;

            &:before {
                /* yellow box */
                content: "";
                width: 50%;
                height: 60%;
                background: var(--secondary);
                opacity: 1;
                display: block;
                position: absolute;
                /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
                bottom: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
                left: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbs-601,
    #RTsbsr-601,
    #RTsbst-601 {
        position: relative;
        display: flex;
        flex-direction: column;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            /* moved section padding to cs-content so the cs-background can be full width */
            padding: var(--sectionPadding);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-background {
            display: block;
            position: relative;
            width: 100%;
            height: calc(256 / 16 * 1rem);
            z-index: 1;
            order: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .image-credit {
            position: absolute;
            bottom: 0;
            font-size: 0.75em;
            margin-bottom: 1rem;
            
            a {
                font-size: 0.75em;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RTsbs-601,
    #RTsbsr-601,
    #RTsbst-601 {
        padding: clamp(5.625rem, 9vw, 9.375rem) calc(16 / 16 * 1rem);
        .cs-container {
            flex-direction: row;
            justify-content: flex-end;
        }

        .cs-background {
            width: 50%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            // left: 50%;
        }
        
        .cs-content {
            width: 45%;
            padding: 0;
        }

        &:first-of-type {
            margin-top: 5rem;
        }
    }
    
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbsr-601 {
        background-color: var(--primary);
        display: flex;
        flex-direction: column;

        .cs-topper,
        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            opacity: 0.8;
        }

        .cs-button-solid {
            background-color: #fff;
            color: var(--headerColor);
            transition: color 0.3s;
            &:hover {
                color: #fff;
            }
        }
    }
}

/* Mobile - 768px */
@media only screen and (min-width: 48rem) {
    #RTsbsr-601 {
        .cs-container {
            justify-content: flex-end;
        }

        .cs-background {
            right: 50%;
            order: 0;
        }
    }
}
@media only screen and (min-width: 48rem) {
    #RTsbst-601 {
        .cs-container {
            justify-content: flex-start;
        }

        .cs-background {
            right: 0;
            order: 0;
        }
    }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-97 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px, changed clamp at tablet */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 17ch;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-ul {
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            /* 16px - 20px */
            padding-left: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-li {
            list-style: none;
            /* 14px - 18px */
            font-size: clamp(0.875rem, 1.3vw, 1.125rem);
            line-height: 1.5em;
            /* 8px - 12px */
            margin-bottom: clamp(0.5rem, 1vw, 0.75rem);
            color: var(--bodyTextColor);
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-number {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            /* 24px - 28px */
            width: clamp(1.5rem, 2.9vw, 1.75rem);
            height: clamp(1.5rem, 2.9vw, 1.75rem);
            margin-right: calc(12 / 16 * 1rem);
            border-radius: 50%;
            background: var(--primary);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            /* we set this element to align to the top of the li, so if there's 
            multiple lines it will stay at the top instead of the center of the text */
            align-self: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            margin: 0;
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 328/420;
            // order: 2

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-97 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            /* 60px - 108px */
            gap: clamp(3.75rem, 7.8vw, 6.75rem);
        }

        .cs-picture {
            /* 284px - 522px */
            width: clamp(17.75rem, 39.3vw, 32.625rem);
            /* 492px - 740px */
            height: clamp(30.75rem, 60.9vw, 46.25rem);
            /* prevents flexbox from squishing it */
            flex: none;
            order: 2;
        }
    }
}

#why-choose-506 {
    background-color: #f7f7f7;
}